extends layout

block content
    .container
        h2 About Us
        p
        | GoGo TripperBook has more than 35 years of experience as the youth travel expert enabling students and young adults to explore the world by creating experiences filled with adventure, discovery and personal growth. We offer a unique range of products with exclusive discounts on airfare, accommodations, tours, rail passes and more. Globally, we are present in 60 countries with 200 retail locations, sending more than 6 million travelers away each year.
        .business-header